@font-face {
  font-family: "Roobert-bold";
  src: url("./fonts/Roobert-Bold.otf") format("woff");
}
@font-face {
  font-family: "Roobert-SemiBold";
  src: url("./fonts/Roobert-SemiBold.otf") format("woff");
}
@font-face {
  font-family: "Roobert-Medium";
  src: url("./fonts/Roobert-Medium.otf") format("woff");
}
@font-face {
  font-family: "Roobert";
  src: url("./fonts/Roobert-Regular.otf") format("woff");
}
body {
  margin: 0;
  padding: 0;
  font-family: Roobert-Medium;
  color:  #f2f2f2;
}
a {
  text-decoration: none !important;
  color: black;
}

.title {
  font-family: Roobert-bold;
  font-size: 80px;
  font-weight: 900;
}
.best-post {
  width: 100%;
  height: 20em;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
  border-radius: 4px;
  transition: 1s;
}

.best-post-image {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  border-radius: 4px;
  margin-right: 25px;
  transition: 1s;
}
.best-post-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  margin: 1em auto;
  padding: 30px 0px;
}

.best-post-content-cat {
  padding: 6px 0px;
  border-radius: 9999px;
  width: fit-content;
  margin-bottom: 15px;
  text-align: center;
  line-height: 1.5;
  font-size: 15px;
  color: #b9d7e9;
}

.best-post-content-title {
  font-size: 3rem;
  margin-bottom: 15px;
  line-height: 1;
}

.best-post-content-sub {
  font-size: 15px;
  line-height: 1.4;
  color: #dcecf7;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  display: -webkit-box;

  overflow: hidden;
}
.all__posts {
  --auto-grid-min-size: 20rem;
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: repeat(
    auto-fill,
    minmax(var(--auto-grid-min-size), 1fr)
  );
}
.post__card-2 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  float: left;
  transition: 1s;
}

.post__card_-2 {
  overflow: hidden;
  border-radius: 4px;
}

.post__card__image-2 {
  height: 14rem;
  width: 100%;
  background-size: cover;
  background-position: center;
  border-radius: 4px;
  transition: 1s;
}

.post__card_meta-2 {
  padding-top: 12px;
  padding-bottom: 12px;
}
.post__card_cat {
  padding: 2px 0px;
  font-size: 14px;
  line-height: 1.5;
  width: fit-content;
  border-radius: 9999px;
  text-align: center;
  margin-bottom: 7px;
}
.post__card_title-2 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 0;
  line-height: 1;
  margin-bottom: 7px;
}

.post__card_alttitle-2 {
  color: #0077c2;
  margin: 0;
  line-height: 1.5;
  font-size: 1.125rem;
  margin-bottom: 7px;
}
.row {
  margin: 0 !important;
}
.modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  transform: scale(1.1);
  transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}
.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #0077c2;
  padding: 1rem 1.5rem;
  width: 24rem;
  border-radius: 0.5rem;
}
.close-button {
  float: right;
  width: 1.5rem;
  line-height: 1.5rem;
  text-align: center;
  cursor: pointer;
  border-radius: 0.25rem;
  color: lightgray;
}
.close-button:hover {
  background-color: darkgray;
}
.show-modal {
  opacity: 1;
  visibility: visible;
  transform: scale(1);
  transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}
.pink {
  background-color: #0077c2;
}
.colorpink {
  color: #d9ecf2;
}
.black {
  color: #1b012b;
}
.dot {
  height: 10px;
  width: 10px;
  margin-right: 10px;
  margin-left: 10px;
  background-color: #d9ecf2;
  border-radius: 50%;
  display: inline-block;
}
.underlinepink:hover {
  border-bottom: 1px solid #1696e6;
}

img {
  max-width: 100%;
  width: auto;
  height: auto;
}
a {
  color: #08c;
  font-weight: bold;
  text-decoration: none;
}
.hentry {
  padding: 0px 40px;
  overflow-y: scroll;
  height: 100vh;
  color: #0d5a8a;
}
.entry-title {
  grid-area: header;

  text-transform: uppercase;
  margin: 1em 0 0.5em;
  line-height: 1;
}
.featured-image {
  grid-area: featimg;
}
.entry-meta {
  grid-area: meta;
  margin-bottom: 2em;
}
.entry-content {
  grid-area: content;
  margin: 1em auto;
}
.author,
.date {
  color: #4aa0d6;
}
.author + .date:before {
  content: " | ";
}
.author {
  /* a {
    color: #000;
    font-weight: bold;
    text-decoration: none;
  } */
}
@media (min-width: 40em) {
  .hentry {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 20px;
    grid-template-areas: "header header header header" "meta meta meta meta" "featimg featimg featimg featimg" "content content content content" "footer footer footer footer";
  }
  .entry-title {
    font-size: 2.5em;
    margin-bottom: 0;
  }
}
@media (min-width: 50em) {
  .hentry {
    grid-template-areas: "header header header header" "featimg featimg featimg featimg" "meta content content content" "footer footer footer footer";
  }
  .author,
  .date {
    display: block;
    margin: 1em 0;
  }
  .author + .date:before {
    display: none;
  }
  .entry-title {
    font-size: 3m;
    margin-bottom: 0.7em;
  }
}
.post-box {
  
  border: 1px solid rgb(27, 14, 87);
  padding: 20px;
  border-radius: 5px;
  margin-bottom: 20px;
}

.full-post-container {
  
  overflow: auto;
  position: relative; /* make the element positioned relative to its parent */
  top: -100px; 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100%;
  background-color: #2196f3;
}

.post-header {
  text-align: center;
}

.post-title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.post-meta {
  font-size: 1rem;
  color: #777;
  
  margin-bottom: 2rem;
}

.post-content {
  font-size: 1.2rem;
  line-height: 1.5;
  margin-bottom: 2rem;
  max-width: 600px;
}
.post-author {
  display: flex;
  align-items: center;
}

.avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.author-name {
  font-size: 18px;
  font-weight: bold;
  margin: 0;
}


.comment-section {
  margin-top: 40px;
  padding: 20px;
  background-color: #f5f5f5;
}


.comment {
  margin-bottom: 20px;
  border: 1px solid rgb(46, 4, 85);
  padding: 10px;
  background-color: #ffffff;
}

.comment-author {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  border-bottom: 1px solid #070606;
  padding-bottom: 5px;
}

.avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.author-name-comment {
  font-weight: bold;
  color: #666666;
}

.comment-date {
  margin-left: auto;
  font-style: italic;
  color: #666666;
}

.comment-content {
  margin-top: 10px;
  color: #333333;
}

.availability-slots {
  margin-top: 20px;
  border-top: 1px solid #e6e6e6;
  padding-top: 10px;
}

.availability-slot {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.availability-slot p {
  margin: 0;
  color: #333333;
}

.schedule-button {
  background-color: #6c0ab6;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.schedule-button:hover {
  background-color: #55087c;
}

.full-post-container {
  overflow: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100%;
  
}
.leaderboard-page {
  background: linear-gradient(to bottom right, #c1c2f5, #9d49dd);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.back-to-home {
  font-size: 16px;
  text-decoration: none;
  margin-left: auto;
}

.leaderboard {
  background: linear-gradient(to bottom right, #ffffff, #e4ccf6);
  border: 1px solid #2196f3;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(24, 2, 2, 0.2);
  padding: 20px;
  max-height: 80%;
  width: 60%;
  overflow: scroll;
}

.leaderboard-title {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
  color: #2196f3;
}

.leaderboard-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.leaderboard-item {
  align-items: center;
  border-bottom: 1px solid #2196f3;
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
}

.leaderboard-item:last-child {
  border-bottom: none;
}

.leaderboard-rank {
  color: #2196f3;
  font-weight: bold;
  font-size: 18px;
  margin-right: 10px;
}

.leaderboard-score {
  color: #2196f3;
  font-size: 18px;
}

.leaderboard-avatar {
  border-radius: 50%;
  height: 40px;
  margin-left: 15px;
  width: 40px;
  align-items: center;
}

.leaderboard-name {
  color: #333;
  font-weight: bold;
  font-size: 20px;
  margin-left: 10px;
}
.chat-container {
  margin-top: 20px;
  background-color: #e8eaed;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  
  height: 800px;
  display: flex;
  flex-direction: column;
  margin: auto;
  justify-content: center;
}

.chat-header {
  background-color: #3f0e40;
  color: #ffffff;
  font-size: 24px;
  font-weight: bold;
  padding: 20px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  display: flex;
  align-items: center;
}

.chat-header .chat-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 10px;
}

.chat-header .chat-avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.chat-messages {
  
  flex-grow: 1;
  padding: 20px;
  overflow-y: scroll;
  margin-top: 10px;
}

.chat-message {
  background-color: #ffffff;
  color: #000000;
  font-size: 16px;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
}

.chat-message .chat-avatar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 10px;
}

.chat-message .chat-avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.chat-message .chat-content {
  display: flex;
  flex-direction: column;
}

.chat-message .chat-name {
  font-weight: bold;
  margin-bottom: 5px;
}

.chat-message .chat-time {
  font-size: 12px;
  color: #52227e;
}

.chat-form {
  
  margin-left: 35%;
  margin-bottom: 10px;
  width: 100%;
  max-width: 600px;
  padding: 20px;
}

.chat-form input {
  width: 100%;
  max-width: 600px;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 8px;
  border: none;
  font-size: 16px;
  background-color: #f9f9f9;
  color: #333;
}


.chat-form input:focus {
  background-color: #ffffff;
  color: #000000;
  outline: none;
}

.chat-form button {
  padding: 10px 20px;
  border-radius: 8px;
  background-color: #3f0e40;
  color: #ffffff;
  font-size: 16px;
  border: none;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.chat-form button:hover {
  background-color: #52227e;
}









.header {
  background-color: #6c0ab6;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  margin-bottom: 10px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

.header h1 {
  color: #ffffff;
  margin: 0;
  font-size: 24px;
}
.chat-message.user {
  background-color: #6c0ab6;
  color: #ffffff;
}

.chat-message.coach {
  background-color: #f5f5f5;
  color: #000000;
}


.post-page {
  padding-top: 100px;
}
.tooltip {
  display: none; /* hide the tooltip by default */
  position: absolute;
  bottom: 100%; /* position the tooltip above the avatar */
  left: 50%;
  transform: translateX(-50%);
  background-color: #333;
  color: #fff;
  padding: 5px;
  border-radius: 5px;
}

.chat-avatar:hover + .tooltip {
  display: block;
}
.session-page {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.appointments {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(700px, 1fr));
  gap: 20px;
}

.appointment {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  color: #666;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border: 1px solid #ccc;
  margin-bottom: 20px;
}

.appointment h2 {
  color: #666;
  margin-bottom: 10px;
}

.appointment p {
  margin: 0;
  font-size: 14px;
  color: #666;
}

.coach {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.buttons {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
}

.schedule-page {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Arial, sans-serif;
}

form {
  color: #49125c;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f2f2f2;
  border-radius: 10px;
  padding: 20px;
  margin-top: 20px;
  

  width: 600px;
}

h1 {
  font-family: "Helvetica Neue", sans-serif;
  font-weight: bold;
  font-size: 24px;
  color: #6c0ab6;
  margin-bottom: 20px;
}

label {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  width: 100%;
}

input[type="checkbox"] {
  margin-right: 10px;
  
}

textarea, select {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: none;
  margin-top: 5px;
  margin-bottom: 20px;
}

button[type="submit"] {
  background-color: #6c0ab6;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  margin-top: 20px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  transition: background-color 0.2s ease-in-out;
}

button[type="submit"]:hover {
  background-color: #49125c;
}